{% extends 'base.html.twig' %}

{% block title %}sites{% endblock %}

{% block body %}
    <h1>Gérer les sites</h1>
    <div>
        <h2>Filtrer les sites</h2>
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        <button>Rechercher</button>
        {{ form_end(filterForm) }}
    </div>
    <table>
        <thead>
        <tr>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for site in sites %}
            <tr>
                <td>{{ site.nom }}</td>
                <td>
                    <a href="{{ path("site_update", {"id" : site.id}) }}">Modifier</a>
                    {% if site.actif %}
                    <a href="{{ path("site_delete", {"id" : site.id}) }}">Supprimer</a>
                    {% else %}
                       <a href="{{ path("site_activate", {"id" : site.id}) }}">Réactiver</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("site_add") }}">Ajouter</a>

{% endblock %}