{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sortie_list.css') }}">
{% endblock %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Espace administrateur</h1>

        <div class="row g-4 d-flex">
            <div class="col-md-4">
                <a class="nav-link text-white" href="{{ path('user_list') }}">
                    <div class="card h-100 d-flex align-items-center p-3">
                        <img src="{{ asset('uploads/img/ancestors.png') }}" class="card-img-top" alt="Gestion des participants" style="width: 200px; height: auto;">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title">Gestion des participants</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white" href="{{ path('site_list') }}">
                    <div class="card h-100 d-flex align-items-center p-3">
                        <img src="{{ asset('uploads/img/school.png') }}" class="card-img-top" alt="Gestion des sites" style="width: 200px; height: auto;">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title">Gestion des sites</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white" href="{{ path('ville_list') }}">
                    <div class="card h-100 d-flex align-items-center p-3">
                        <img src="{{ asset('uploads/img/buildings.png') }}" class="card-img-top" alt="Gestion des villes" style="width: 200px; height: auto;">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title">Gestion des villes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white" href="{{ path('lieu_list') }}">
                    <div class="card h-100 d-flex align-items-center p-3">
                        <img src="{{ asset('uploads/img/streets.png') }}" class="card-img-top" alt="Gestion des lieux" style="width: 200px; height: auto;">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title">Gestion des lieux</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white" href="{{ path('app_register') }}">
                    <div class="card h-100 d-flex align-items-center p-3">
                        <img src="{{ asset('uploads/img/add-user.png') }}" class="card-img-top" alt="Gestion des lieux" style="width: 200px; height: auto;">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title">Ajout d'un participant</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white" href="{{ path('app_csv_register') }}">
                    <div class="card h-100 d-flex align-items-center p-3">
                        <img src="{{ asset('uploads/img/add.png') }}" class="card-img-top" alt="Gestion des lieux" style="width: 200px; height: auto;">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title">Import de participants (.csv)</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
