{% extends 'base.html.twig' %}
{% block javascript %}
{% block importmap %}{{ importmap('modal') }}{% endblock %}
{% endblock %}
{% block title %}Hello SortieController!{% endblock %}




{% block body %}
    <h1>Toutes les sorties</h1>

<div>
    {{ form_start(formFilter) }}
    {{ form_widget(formFilter) }}
    <button>Rechercher une sortie </button>
    {{ form_end(formFilter) }}
</div>
<table>
    <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

                {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.debut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimitInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.participants|length }}/{{ sortie.nbMaxParticipant }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% set userFound = false %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                                {% set userFound = true %}
                            {% endif %}
                        {% endfor %}

                        {% if userFound %}
                            oui
                        {% else %}
                            non
                        {% endif %}
                    </td>
                    <td><a href="{{ path("user_detail", {"id" : sortie.organisateur.id}) }}">{{sortie.organisateur.nom}}</a></td>
                    <td>
                        {% if sortie.etat.libelle != "Annulée"%}
                        {% if app.user in sortie.participants %}
                            <a href="{{ path("sortie_quit", {"id": sortie.id}) }}">
                                Se désinscrire
                            </a>
                        {% else %}
                            <a href="{{ path("sortie_join", {"id": sortie.id}) }}">
                                S'inscrire
                            </a>
                        {% endif %}
                        {% endif %}
                        <a href="{{ path('sortie_detail', {"id": sortie.id}) }}">Afficher</a>
                        {% if sortie.organisateur.id == app.user.id and sortie.etat.libelle != "Annulée" %}
                        <a href="#">Modifier</a>
                        <a id="cancel" href="">Annuler</a>

                        <!-- MODAL -->
                        <div class="modal-overlay" id="modalOverlay">
                            <div class="modal">
                                <h2>Annulation de la Sortie</h2>
                                <form action="{{ path('sortie_cancel', {'id': sortie.id }) }}" method="POST">
                                    <div class="input-modal">
                                        <label for="raison">Veuillez indiquer la raison de l'annulation</label>
                                        <textarea name="raison" rows="3"></textarea>
                                    </div>

                                    <div>
                                        <input type="submit" value="Annuler la sortie"/>
                                    </div>
                                </form>
                                <button id="closeModalButton">Précédent</button>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}