{% extends 'base.html.twig' %}
{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <h1>Modifier la sortie : {{ sortie.nom }}</h1>

    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.debut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.dateLimitInscription) }}
    {{ form_row(sortieForm.nbMaxParticipant) }}
    {{ form_row(sortieForm.infosSortie) }}

    {% if 'ROLE_ADMIN' in app.user.roles %}
        <div class="show">
        {{ form_row(sortieForm.etat) }}
        </div>
        {% else %}
            <div class="hidden">
                {{ form_row(sortieForm.etat) }}
            </div>
            {% endif %}
    {{ form_row(sortieForm.site) }}
    {{ form_row(sortieForm.lieu) }}
    <div class="plus-container">
        <div class="plus">+</div>
    </div>
    <div id="newLieu">
        {{ form_row(sortieForm.nouveauLieu) }}
    </div>
    {{ form_row(sortieForm.active) }}
    <button>Modifer la sortie</button>
    {{ form_end(sortieForm) }}
{% endblock %}
