<nav class="container-menu">
    <div class="menu-wrapper">
        <a href="{{ path('sortie_list') }}">
    <img class="logo" src="{{ asset('img/Média.jpg') }}" alt="le beau logo">
        </a>
            <ul class="menu">
            {% if app.user %}
                <li>{{ app.user.prenom }} {{ app.user.nom }}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        (Administrateur)
                    {% endif %}
                </li>
                <li><a href="{{ path('sortie_list') }}">Accueil</a></li>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li><a href="{{ path('app_register') }}">Ajout d'un utilisateur</a></li>
                    <li><a href="{{ path('ville_list') }}">Villes</a></li>
                    <li><a href="{{ path('site_list') }}">Sites</a></li>
                    <li><a href="{{ path('user_list') }}">Participants</a></li>
                {% endif %}
                <li><a href="{{ path('sortie_add') }}">Ajouter une sortie</a></li>
                <li><a href="{{ path('user_profile', {"id": app.user.id}) }}">Mon Profil</a></li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {%  endif %}
        </ul>
    </div>

</nav>